<?xml version="1.0" encoding="UTF-8"?>
<module>
	<version>1.0</version>
	<name>Error</name>
	<author></author>
	<active>true</active>
	
	<instances>
		<instance>Debug</instance>
	</instances>
	
	<controllers>
		<index>
			<controller>DebugController</controller>
			<controller>ErrorController</controller>
		</index>
	</controllers>	
</module>