<?xml version="1.0" encoding="UTF-8"?>
<module>
	<version>1.0</version>
	<name>Articles</name>
	<author></author>
	<active>true</active>
	
	<instances>
		<instance>HTaccess</instance>
	</instances>
	
	<controllers>
		<index>
			<controller>Articles</controller>
		</index>
		<admin>
			<controller>Structure</controller>
		</admin>
	</controllers>
	
	<admin>
		<menu>
			<structure label="admin_menu_structure" target="admin/structure/view">
				<item label="admin_menu_categories">admin/structure/categories</item>
			</structure>
		</menu>
	</admin>
	
	<locales>
		<en_US/>
		<de_DE/>
	</locales>
	
</module>