<?xml version="1.0" encoding="UTF-8"?>
<module>
	<version>1.0</version>
	<name>Admin</name>
	<author></author>
	<active>true</active>

	
	<controllers>
		<admin>
			<controller>Panel</controller>
			<controller>Dashboard</controller>
		</admin>
	</controllers>
	
	<agents>
		<agent>Admin</agent>
	</agents>
	
	<instances>
		<instance>Admin</instance>
	</instances>
	
	<admin>
		<menu>
			<dashboard label="Dashboard" target="admin/dashboard/index" />
			
			<system label="System" target="admin/system/index">
				<item label="Settings">admin/system/settings</item>
				<item label="Modules">admin/system/settings</item>
				<item label="Widgets">admin/system/widgets</item>
			</system>
			
			<users label="Users" target="admin/users/index">
				<item label="Roles">admin/users/roles</item>
				<item label="Rights">admin/users/rights</item>
			</users>
			
			<appearance label="appearance" target="admin/appearance/index" />

		</menu>
	</admin>
	
</module>