<?xml version="1.0" encoding="UTF-8"?>
<module>
	<version>1.0</version>
	<name>Admin</name>
	<author></author>
	<active>true</active>

	
	<controllers>
		<admin>
			<controller>Panel</controller>
			<controller>Dashboard</controller>
		</admin>
	</controllers>
	
	<agents>
		<agent>Admin</agent>
	</agents>
	
	<instances>
		<instance>Admin</instance>
	</instances>
	
	<admin>
		<menu>
			<dashboard label="admin_menu_dashboard" target="admin/dashboard/index" />
			
			<system label="admin_menu_system" target="admin/system/index">
				<item label="admin_menu_settings">admin/system/settings</item>
				<item label="admin_menu_modules">admin/system/settings</item>
				<item label="admin_menu_widgets">admin/system/widgets</item>
			</system>
			
			<users label="admin_menu_users" target="admin/users/index">
				<item label="admin_menu_roles">admin/users/roles</item>
				<item label="admin_menu_rights">admin/users/rights</item>
			</users>
			
			<appearance label="admin_menu_appearance" target="admin/appearance/index" />
		
		
		</menu>
	</admin>
	
	<locales>
		<de_DE/>
		<en_US/>
	</locales>
	
</module>