@CHARSET "UTF-8";


body {
	
	background-image:url(img/background.jpg);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#ebebeb;
	font-family:Ubuntu, Arial, Helvetica, sans-serif;
}


#wrapper {
	
	position:absolute;
	left:40px;
	right:40px;
	min-width:930px;
	max-width:1600px;
	padding-top:160px;
	padding-bottom:150px;
}

#logo {
	
	font-family:Ubuntu;
	text-decoration:none;
	font-size:100px;
	color:#ffffff;

	display:block;
	margin-top:-5px;
	float:right;
	opacity:0.3;
	filter:alpha(opacity=30);
	height:69px;
	overflow:hidden;
}

#logo:hover {
	opacity:0.35;
	/*text-shadow:#000000 0px 0px 2px;*/
}

#welcome {
	
	position:absolute;
	bottom:112px;
	right:5px;
	padding-bottom:4px;
	font-size:12px;
	font-family:Ubuntu;
}

#welcome a {
	color:#30a4b1;
	text-decoration:none;
	border-left: 1px solid #000000;
	padding-left:10px;
	margin-left:10px;
}


#welcome a:hover {

	text-decoration:underline;	
	
}

#header {

	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	height:167px;
}


#nav {

	width:100%;
	height:64px;
	background-color:#464646;
	background-image:url(img/nav_bg.jpg);
	background-repeat:no-repeat;
	background-position:right;
	position:absolute;
	top:72px;
	font-family:Ubuntu;
	border-radius:4px;
}

#nav span.nav {
	
	display:block;
	height:64px;
	float:left;
	text-transform:uppercase;
	color:#ffffff;
	text-decoration:none;
	font-size:14px;
	position:relative;
	-webkit-transition:0.05s linear;
	-moz-transition:0.05s linear;
	cursor:pointer;
}

#nav span.nav:nth-child(2) {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

#nav span.nav:hover, #nav span.active {

	background-color:#30a4b1;	

}


#nav span.nav a.title {
	
	display:block;
	padding:25px 30px 0px 30px;
	color:#ffffff;
	text-decoration:none;
	height:39px;
	
}

#nav span.nav span.sub {
	
	background-color:#34b4c2;
	height:31px;
	position:absolute;
	bottom:0px;
	left:0px;
	margin-bottom:-31px;
	display:none;
	font-size:12px;
		
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	
}

#nav span.nav:hover span.sub {
	display:block;
}

span.sub a:first-child {
	border-bottom-left-radius:4px;
}

span.sub a, span.sub a:active, span.sub a:visited {

	padding:9px 30px 0px 30px;
	height:22px;
	text-decoration:none;
	color:#ffffff;
	display:block;
	float:left;
	
	-webkit-transition:0.05s linear;
	-moz-transition:0.05s linear;

}

span.sub a:hover {
	
	background-color:#30a4b1;
	
}



#content {

	background-color:#ffffff;
	z-index:1000;
	
	border:1px solid #464646;
	border-radius:2px;
	
	padding:80px 20px 80px 20px;
}





/* ACTIONS */

#actions {
	
	background-color:#464646;
	position:absolute;
	top:180px;
	right:20px;
	height:32px;
	border-radius:3px;
	z-index:500;
	
}

#actions a {
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	float:left;
	font-size:11px;
	padding:10px 10px 8px 10px;

}

#actions a:active {
	padding:11px 10px 7px 10px;
	/*background-color:#278791;*/
}

#actions a:hover {
	
	background-color:#34B4C2;
	
}

#actions div a:first-child {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

#actions div a:last-child {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.icon {
	
	display:block;
	width:16px;
	height:16px;
	background-position:top;
	float:left;
	
}

.icon.side {

margin-top:-2px;
margin-right:5px;

}


.icon.black {
	background-position:bottom;
}

.up {
	
	display:block;
	width:32px;
	height:32px;
	background-position:top;
	position:absolute;
	left:0px;
	margin-left:-40px;
	background-image:url(img/up.png) ;
	background-repeat:no-repeat;
	background-position:center;
	background-color:#464646;
	cursor:pointer;
	
	border-radius:3px;

}

/* ELEMENTS */

table.item_table {
	width:100%;
	text-align:left;
}

table.item_table tr.item_table_head {
	background-color:#464646;
	color:#ffffff;
}

table.item_table tr.item_table_head th {
	padding:10px 10px 10px 10px;
	font-size:13px;
}

table.item_table tr td {
	padding:5px 10px 5px 10px;
	font-size:12px;
}

/* table */ 

input[type=text]
{
	width:200px;
	border:1px solid #464646;
	padding:2px;
	font-size:18px;
	font-family:Arial;
	color:#464646;
	background:none;
	border-radius:2px;
	margin-bottom:5px;
}

textarea {
	width:200px;
	border:1px solid #464646;
	padding:2px;
	font-family:Arial;
	color:#464646;
	background:none;
	border-radius:2px;
	margin-bottom:5px;
	display:block;
}

.form_comment {
	display:block;
	font-size:12px;
	color:#8e8e8e;
}

.form_label {
	display:block;
	font-size:14px;
}

form table tr td {
	padding:10px;
	vertical-align:top;
	position:relative;
	padding-bottom:20px;
}

label.error {
	display:block;
	font-size:12px;
	color:#30a4b1;	
	background-image:url(img/arrow_up.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding:5px 5px 5px 17px;
	position:absolute;
	bottom:0px;
	left:10px;
}

em.required {
	color:#30a4b1;
}
