@CHARSET "UTF-8";

strong {
	font-weight:bold;
}

body {
	background-repeat:repeat-x;
	background-position:top;
	background-color:#ffffff;
	font-family:Ubuntu, Arial, Helvetica, sans-serif;
}


#wrapper {
	
	position:absolute;
	left:40px;
	right:40px;
	min-width:930px;
	max-width:1600px;
	padding-top:160px;
	padding-bottom:150px;
}

#logo {
	
	font-family:Ubuntu;
	text-decoration:none;
	font-size:50px;
	color:#357AE8;

	display:block;
	margin-top:-1px;
	margin-right:-1px;
	float:right;
	/*opacity:0.3;
	filter:alpha(opacity=30);*/
	overflow:hidden;
	
	height:54px;
	border-radius:3px;
	
	
	padding:6px 21px 5px 20px;
}

#logo:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
	border:1px solid #3079ED;
	color:#ffffff;
	padding:5px 20px 5px 20px;
}

#welcome {
	
	position:absolute;
	bottom:112px;
	right:20px;
	padding-bottom:4px;
	font-size:12px;
	font-family:Ubuntu;
}

#welcome span {
}

#welcome span.seperate {
	height:13px;
	margin-left:10px;
	margin-right:10px;
}

#welcome a {
	color:#4d90fe;
	text-decoration:none;
}


#welcome a:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
	
	border-radius:3px;
	
	border:1px solid #3079ED;
	color:#ffffff;

	padding:0px 1px 0px 1px;
	
	margin:-1px -1px 0px -3px;
}

#welcome a:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

#content a {
	color:#4d90fe;
	text-decoration:none;

}


#content a:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
	
	border-radius:3px;
	
	border:1px solid #3079ED;
	color:#ffffff;

	padding:0px 1px 2px 1px;
	
	margin:-1px -1px 0px -3px;	
}

#content a:active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

#header {

	position:absolute;
	left:0px;
	right:2px;
	top:0px;
	height:167px;
}


#nav {

	width:100%;
	height:64px;
	/*background-color:#2D2D2D;*/
	background-repeat:no-repeat;
	background-position:right;
	position:absolute;
	top:72px;
	font-family:Ubuntu;
	border-radius:4px;
	
	background-color:#F1F1F1;
	border:1px solid #D2D2D2;
}

#nav span.nav {
	
	display:block;
	height:66px;
	float:left;
	text-transform:uppercase;
	color:#ffffff;
	text-decoration:none;
	font-size:14px;
	position:relative;
	-webkit-transition:0.05s linear;
	-moz-transition:0.05s linear;
	cursor:pointer;
	
	margin-top:-1px;
	margin-left:-1px;
}

#nav span.nav:nth-child(2) {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

#nav span.active, #nav span.nav:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
	
}


#nav span.nav a.title {
	
	display:block;
	padding:25px 30px 0px 30px;
	color:#000000;
	text-decoration:none;
	height:39px;
	
}

#nav span.active a.title, #nav span.nav:hover a.title {
	color:#ffffff;
}

#nav span.nav span.sub {
	
	/*background-color: #357AE8;*/
	background-image: -webkit-linear-gradient(top,#357AE8,#4787ed);
	background-image: -moz-linear-gradient(top,#357AE8,#4787ed);
	background-image: -ms-linear-gradient(top,#357AE8,#4787ed);
	background-image: -o-linear-gradient(top,#357AE8,#4787ed);
	background-image: linear-gradient(top,#357AE8,#4787ed);*/
	
	height:31px;
	position:absolute;
	bottom:0px;
	left:0px;
	margin-bottom:-31px;
	display:none;
	font-size:12px;
		
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	
}

#nav span.nav:hover span.sub {
	display:block;
}

span.sub a:first-child {
	border-bottom-left-radius:4px;
}

span.sub a, span.sub a:active, span.sub a:visited {

	padding:9px 30px 0px 30px;
	height:22px;
	text-decoration:none;
	color:#ffffff;
	display:block;
	float:left;

}

span.sub a:hover {
	
	background-color:#4787ed;
	
	/*background-color: #357AE8;
	border:1px solid #3079ED;
	border-width:0px 1px 0px 1px;
	padding:9px 29px 0px 29px;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);*/
	
}



#content {

	background-color:#F1F1F1;
	border:1px solid #D2D2D2;
	
	z-index:1000;
	border-radius:2px;
	
	padding:80px 20px 80px 20px;
}





/* ACTIONS */

#actions {
	
	
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	
	position:absolute;
	top:180px;
	right:20px;
	height:32px;
	border-radius:3px;
	z-index:500;
	
	border:1px solid #3079ED;
	
}

#actions a {
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	float:left;
	font-size:11px;
	padding:10px 10px 8px 10px;

}

#actions a:active {
	/*padding:11px 10px 7px 10px;*/
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

#actions a:hover {
	
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
	
}

#actions div a:first-child {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

#actions div a:last-child {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.icon {
	
	display:block;
	width:16px;
	height:16px;
	background-position:top;
	float:left;
	
}

.icon.side {

margin-top:-2px;
margin-right:5px;

}


.icon.black {
	background-position:bottom;
}

.up {	
	display:block;
	width:24px;
	height:25px;
	padding:7px 0px 0px 8px;
	background-position:top;
	position:absolute;
	left:0px;
	margin-left:-40px;
	/*background-image:url(img/up.png) ;
	background-repeat:no-repeat;
	background-position:center;*/
	cursor:pointer;
	margin-top:-1px;
	
	border-radius:3px;
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	border:1px solid #3079ED;
}

.up:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
}

.up.active {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
}

/* ELEMENTS */

table.item_table {
	width:100%;
	text-align:left;
}

table.item_table tr.item_table_head {
	background-color:#2D2D2D;
	color:#ffffff;
	border-radius:3px;
}

table.item_table tr.item_table_head th {
	padding:10px 10px 10px 10px;
	font-size:13px;
}

table.item_table tr td {
	padding:5px 10px 5px 10px;
	font-size:12px;
}

.item_head {
	background-color:#2D2D2D;
	color:#ffffff;
	padding:10px 10px 10px 10px;
	font-size:13px;
	
	border-radius:3px;
}

.item_head div {
	display:inline-block;
}

.item_row {
	padding:10px 10px 10px 10px;
	font-size:13px;
	
	border-radius:3px;

	border:1px solid #2D2D2D;
	
	margin:5px 0px 0px 0px;
}

.item_row div {
	display:inline-block;
}

/* table */ 

input[type=text]
{
	width:200px;
	border:1px solid #D2D2D2;
	padding:2px;
	font-size:18px;
	font-family:Arial;
	color:#464646;
	background:none;
	border-radius:2px;
	margin-bottom:5px;
	background-color:#ffffff;
}

textarea {
	width:200px;
	border:1px solid #464646;
	padding:2px;
	font-family:Arial;
	color:#464646;
	background:none;
	border-radius:2px;
	margin-bottom:5px;
	display:block;
}

.form_comment {
	display:block;
	font-size:12px;
	color:#8e8e8e;
}

.form_label {
	display:block;
	font-size:14px;
}

form table tr td {
	padding:10px;
	vertical-align:top;
	position:relative;
	padding-bottom:20px;
}

label.error {
	display:block;
	font-size:12px;
	color:#30a4b1;	
	background-image:url(img/arrow_up.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding:5px 5px 5px 17px;
	position:absolute;
	bottom:0px;
	left:10px;
}

em.required {
	color:#30a4b1;
}


.breadcrump_separate {
	margin:0px 10px 0px 10px;
}

.breadcrump_title {
	margin-right:10px;
}

/* STRUCTURE */

.structure_base_container ul {
	list-style-type:disc;
	width:95%;
	margin:0px auto;
	
	border:1px solid green;

	padding-bottom:10px;
}




/* JQUERY UI OVERRIDE */

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family:Ubuntu, Arial, Helvetica, sans-serif; }


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	
	border:1px solid #3079ED;
	
	border-radius:3px;
	
	color:#ffffff;
	
	font-weight:normal;
	text-transform:uppercase;
	font-size:11px;
	padding: 10px 10px 8px 10px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357AE8);
	background-image: -o-linear-gradient(top,#4d90fe,#357AE8);
	background-image: linear-gradient(top,#4d90fe,#357AE8);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.ui-dialog {
	padding:0px;
	/*box-shadow: 0px 0px 7px #000;*/
	font-size:12px;
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	border: solid 1px #ACACAC;
}

.ui-dialog .ui-dialog-content {
	padding:10px;
}

.ui-widget-header {
	background-image:none;
	/*background:#2D2D2D;
	border:0px;*/
	
	background-color:#F1F1F1;
	border:0px;
	border-bottom:1px solid #D2D2D2;
	
	border-radius:2px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.ui-dialog .ui-dialog-titlebar {
	padding:10px;
}

.ui-dialog .ui-dialog-titlebar-close {
	right:5px;
}

.ui-widget-content {
}

.ui-dialog .ui-dialog-buttonpane {
	border:0px;
}

.ui-widget-overlay {
	background-image:none;
	background-color:#ffffff;
	opacity: 0.75;
	filter: Alpha(Opacity=75);
}

.ui-widget-content .ui-icon {
	background-image: url(../../../core/libs/js/jquery/flick/images/ui-icons_0073ea_256x240.png);
}






